<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="">SCEV</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Estoques
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="['/cadastraEstoque']">Cadastrar Estoque</a>
          <a class="dropdown-item" [routerLink]="['/listaEstoques']">Lista de Estoques</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Produtos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="['/cadastraProduto']">Cadastrar Produto</a>
          <a class="dropdown-item" [routerLink]="['/listaProdutos']">Lista de Produtos</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Movimentações
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" [routerLink]="['/cadastraMovimentacao']">Cadastrar Movimentação</a>
          <a class="dropdown-item" [routerLink]="['/cadastraTransferencia']">Transferência entre Estoques</a>
          <a class="dropdown-item" [routerLink]="['/listaMovimentacoes']">Últimas Movimentações</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li>
        <a class="nav-link" href="#">Bem-vind@: Amina Maria</a>
      </li>
      <li>
        <a class="nav-link" href="#">Sair</a>
      </li>
    </ul>
  </div>
</nav>
