  <app-banner titulo="Cadastrar Transferência"></app-banner>
  <app-alert [tipo]="alerta.tipo" [header]="alerta.header" [message]="alerta.message"></app-alert>
  <form [formGroup]="formulario">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="nome">Quantidade</label>
      <input formControlName="quantidade" [(ngModel)]=transferencia.quantidade type="number" min="1" class="form-control"
      [ngClass]="{'is-invalid' : formulario.controls.quantidade.invalid}"/>
    </div>
    <div class="form-group col-md-6">
      <label for="tipo">Tipo de Movimentacao</label>
      <select formControlName="tipo" class="form-control" [(ngModel)]=transferencia.tipo
      [ngClass]="{'is-invalid' : formulario.controls.tipo.invalid}">
        <option *ngFor="let tipo of tipos" value="{{tipo}}">{{tipo}}</option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="tipo">Estoque Origem</label>
      <select formControlName="origem" (change)="carregaSelects()" [(ngModel)]=transferencia.origem.idEstoque class="form-control"
      [ngClass]="{'is-invalid' : formulario.controls.origem.invalid}">
        <option *ngFor="let estoque of listaEstoques.estoques" 
        value="{{estoque.idEstoque}}">{{estoque.nome}} ( {{estoque.tipo}} )</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="nome">Produto</label>
      <select formControlName="produto" [(ngModel)]=transferencia.produto.idProduto class="form-control"
      [ngClass]="{'is-invalid' : formulario.controls.produto.invalid}">
        <option *ngFor="let produtoEstoque of listaProdutos.produtos" 
        value="{{produtoEstoque.id}}">{{produtoEstoque.produto.titulo}} ( {{produtoEstoque.quantidade}} Und. )</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="tipo">Estoque Destino</label>
      <select formControlName="destino" [(ngModel)]=transferencia.destino.idEstoque class="form-control"
      [ngClass]="{'is-invalid' : formulario.controls.destino.invalid}">
        <option *ngFor="let estoque of destinos.estoques" value="{{estoque.idEstoque}}">{{estoque.nome}} ({{estoque.tipo}})</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="descricao">Descrição</label>
    <textarea formControlName="descricao" [(ngModel)]=transferencia.descricao class="form-control"
    [ngClass]="{'is-invalid' : formulario.controls.descricao.invalid}"></textarea>
  </div>
</form>
<button [disabled]="formulario.invalid" (click)=cadastra() class="btn btn-success">Cadastrar Movimentacao</button>