<app-banner titulo="Listagem de Produtos"></app-banner>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Cod Produto</th>
      <th scope="col">Foto</th>
      <th scope="col">Titulo</th>
      <th scope="col">Autor</th>
      <th scope="col">Sinopse</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let produto of listaProdutos.produtos">
      <th scope="row">{{produto.idProduto}}</th>
      <td><img alt="{{produto.titulo}}" src="/assets/img/livroPadrao.png" width="30px" height="30px"/></td>
      <td>{{produto.titulo}}</td>
      <td>{{produto.autor}}</td>
      <td>{{produto.sinopse}}</td>
      <td><a href="">Ver Ficha</a></td>
      <td><a (click)="salvaIdProduto(produto.idProduto)" [routerLink]="['/editaProduto']" class="btn btn-sm btn-primary">Editar</a></td>
    </tr>
  </tbody>
</table>
