<app-banner titulo="Listagem de Estoques"></app-banner>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Cod Estoque</th>
      <th scope="col">Nome</th>
      <th scope="col">Descrição</th>
      <th scope="col">Total Produtos</th>
      <th scope="col"></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let estoque of listaEstoques.estoques">
      <th scope="row">{{estoque.idEstoque}}</th>
      <td>{{estoque.nome}}</td>
      <td>{{estoque.descricao}}</td>
      <td>{{estoque.quantidadeProdutos}}</td>
      <td><a href="">Ver Produtos</a></td>
      <td><a href="">Ver Movimentações</a></td>
      <td>
        <div class="row">
      <div class="col text-right">
        <form action="" method="post">
          <input class="form-control" type="hidden" name="idEstoque" value="estoque.idEstoque"/>
        <button type="submit" class="btn btn-sm btn-primary">Editar</button>
        </form>
      </div>
    </div>
      </td>
    </tr>
  </tbody>
</table>
