<app-banner titulo="Listagem de Estoques"></app-banner>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Cod Estoque</th>
      <th scope="col">Nome</th>
      <th scope="col">Descrição</th>
      <th scope="col">Total Produtos</th>
      <th scope="col"></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let estoque of listaEstoques.estoques">
      <th scope="row">{{estoque.idEstoque}}</th>
      <td>{{estoque.nome}}</td>
      <td>{{estoque.descricao}}</td>
      <td>{{estoque.quantidadeProdutos}}</td>
      <td><a [routerLink]="['/listaProdutosEstoque']" (click)=salvaIdEstoque(estoque.idEstoque)>Ver Produtos</a></td>
      <td><a [routerLink]="['/listaMovimentacoesEstoque']" (click)=salvaIdEstoque(estoque.idEstoque)>Ver Movimentações</a></td>
      <td>
        <div class="row">
      <div class="col text-right">
        <a [routerLink]="['/editaEstoque']" (click)="salvaIdEstoque(estoque.idEstoque)" class="btn btn-sm btn-primary">Editar</a>
      </div>
    </div>
      </td>
    </tr>
  </tbody>
</table>
